<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head1.ejs') %>
    <link rel="stylesheet" href="/public/assets/css/mainCart.css" />
  </head>
  <body>
    <!-- Modal-search -->
    <%- include('../components/modal_search.ejs') %>

    <!-- Modal-login -->
    <%- include('../components/modal_login.ejs') %>

    <!-- Modal-nav-mobile -->
    <%- include('../components/modal_nav-mobile.ejs') %>

    <!-- HEADER -->
    <%- include('../components/header1.ejs') %>

    <!-- CART -->
    <%- include('./cart/main.ejs') %>

    <!-- FOOTER -->
    <%- include('../components/footer1.ejs') %>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="/public/assets/js/header_search.js"></script>
  <script src="/public/assets/js/cart_localStorage.js"></script>
  <script src="/public/assets/js/login.js"></script>
  <script>
    $(".container-cart").css("display", "none");
  </script>
</html>