<!DOCTYPE html>
<html lang="en">
  <head>
        <%- include('../components/head.ejs') %>
      <link rel="stylesheet" href="/public/assets/css/mainOrder.css" />
   
  </head>
  <body>

     <!-- HEADER -->
     <%- include('../components/header.ejs') %>

    <!-- Modal-search -->
    <%- include('../components/search_overlay.ejs') %>

    <!-- Modal-nav-mobile -->
    <%- include('../components/modal_nav-mobile.ejs') %>

    <!-- CART -->
    <%- include('./order/main.ejs') %>

    <!-- FOOTER -->
    <%- include('../components/footer.ejs') %>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
  <script src="/public/assets/js/form_page.js"></script>
  <script src="/public/assets/js/cart_localStorage.js"></script>
  <script src="/public/assets/js/signin-login.js"></script>
  <script>
    $(".container-cart").css("display", "none");
  </script>
</html>