<div class="product-main">
    <div class="container-product">
      <!-- SEARCH AND CATELOG -->
      <%- include('../form/search&catelog.ejs') %>
  
      <!-- DETAIL -->
      <div class="container-product-right">
        <div class="product-detail">
          <div class="prd-detail-left">
            <img
              class="prd-detail-img"
              src="<%= data.img[0] %>"
              alt=""
            />
          </div>
          <div class="prd-detail-right">
            <div class="prd-detail-name"><%= data.name %></div>
            <div class="prd-detail-price"><%= data.price %></div>
            <div class="prd-detail-add">
              <button class="to-add" data-prd-id="<%= data._id %>">
                <i class="fas fa-cart-plus"></i> THÊM VÀO GIỎ
              </button>
            </div>
          </div>
        </div>
        <div class="prd-description">
          <h3>MÔ TẢ</h3>
          <p><%= data.descriptionDetails %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="more-products">
    <h3 class="more-prd-content">SẢN PHẨM TƯƠNG TỰ</h3>
    <div class="more-product">
      <!-- Set up your HTML -->
      <div class="owl-one owl-carousel owl-theme">
        <!-- Start -->
        <% prdHair.map((ele)=>{ %>
        <div class="product-item">
          <div class="product-img">
            <img class="img-prd" src="/public/upload/<%= ele.img %>" alt="" />
          </div>
          <div class="product-name"><%= ele.name %></div>
          <div class="product-price"><%= ele.price %></div>
          <div class="item-buy-see">
            <button class="buy-item add-to-cart" data-product-id="<%= ele._id %>">
              <i class="fas fa-shopping-cart"></i> Thêm vào giỏ
            </button>
            <a class="see-item" href="/product/detail/<%= ele._id %>"
              >Xem chi tiết</a
            >
          </div>
        </div>
        <% }) %>
        <!-- End -->
      </div>
    </div>
  </div>