<div class="product-main">
    <div class="container-product">
      <!-- SEARCH AND CATELOG -->
      <%- include('./search&catelog') %>
  
      <!-- DETAIL -->
      <div class="container-product-right">
        <div class="product-detail product-card_item">
          <div class="prd-detail-left">
            <img
              class="prd-detail-img img-prd"
              src="<%= prd_detail.img[0] %>"
              alt=""
            />
          </div>
          <div class="prd-detail-right">
            <div class="prd-detail-name product-card_title"><p><%= prd_detail.name %></p></div>
            <div class="prd-detail-price product-card_price"><%= prd_detail.price %> đ</div>
            <% if( prd_detail.quantity > 0 ){ %>
                <div class="product-card_quantity prd-detail-quantity ">
                Còn <%= prd_detail.quantity %> sản phẩm
                </div>
             <% }else{ %>
                <div class="product-card_quantity not_prd-detail">
                    Hết hàng                                                                                                                                             
                </div>
            <% } %>
            <div class="form-input">
                <input type="button" value="-" onclick="minus()">
                <input type="number" id="solg" value="1" min="1" max="<%= prd_detail.quantity %>">
                <input type="button" value="+" onclick="plus()">
            </div>
            <div class="prd-detail-add">
                <% if( prd_detail.quantity > 0 ){ %>
              <button class="to-add" data-product-id="<%= prd_detail._id %>">
                <i class="fas fa-cart-plus"></i> Mua
              </button>
              <% }else{ %>
                <div></div>
            <% } %>  
            </div>
          </div>
        </div>
        <div class="prd-description">
          <h3>MÔ TẢ</h3>
          <p><%= prd_detail.descriptionDetails %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="more-products">
    <h3 class="more-prd-content">SẢN PHẨM TƯƠNG TỰ</h3>

      <!-- Set up your HTML -->
      <div class="owl-one owl-carousel owl-theme">
        <% productss.forEach(product=>{ %>
            <div class="item product-card_item">
                <a href="/product/detail/<%= product._id %>">
                    <div class="product-card_info">
                        <div class="product-card_img">
                            <img class="img-prd" src=<%=product.img[0] %>>
                        </div>
                        <div class="product-card_text">
                            <div class="product-card_title">
                                <%= product.name %>
                            </div>
                            <div class="product-card_price">
                                <%= product.price %>
                            </div>
                            <% if( product.quantity > 0 ){ %>
                            <div class="product-card_quantity">
                               Còn <%= product.quantity %> sản phẩm                                                                                                                                             
                            </div>
                            <% }else{ %>
                                <div class="not_prd">
                                    Hết hàng                                                                                                                                             
                                 </div>
                            <% } %>
                        </div>
                    </div>
                </a>
                <% if( product.quantity > 0 ){ %>
                <button class="add-to-cart" data-product-id="<%= product._id %>"><i class="fas fa-cart-plus"></i> Thêm vào giỏ</button>
                <% }else{ %>
                    <div></div>
                <% } %>  
        </div>
       <% }) %>
      </div>

  </div>