<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head.ejs') %>
    <link rel="stylesheet" href="/public/assets/css/prd_detail.css" />
  </head>
  <body>
     <!-- Modal-search -->
     <%- include('../components/search_overlay.ejs') %>
 
     <!-- Modal-nav-mobile -->
     <%- include('../components/modal_nav-mobile.ejs') %>
 
     <!-- HEADER -->
     <%- include('../components/header.ejs') %>
 
     <!-- ORDER -->
     <%- include('./prd_detail/main.ejs') %>
 
     <!-- FOOTER -->
     <%- include('../components/footer.ejs') %>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
  <script src="/public/assets/js/signin-login.js"></script>
  <script src="/public/assets/js/form_page.js"></script>
  <script src="/public/assets/js/cart_localStorage.js"></script>
  <script>
        //SHOW-CHILDREN-ITEM-NAV-MOBILE -1

        const more = document.querySelectorAll(".more-item")
        const more_link = document.querySelectorAll(".more-item-click")
        const chid = document.querySelectorAll(".show_children")


        for (let i = 0; i < more.length; i++) {
            more[i].addEventListener("click", ()=>{
                chid[i].style.display = 'block';
                more[i].style.display = 'none';
                more_link[i].style.display = 'block';
            })
            more_link[i].addEventListener("click", ()=>{
                chid[i].style.display = 'none';
                more[i].style.display = 'block';
                more_link[i].style.display = 'none';
            })
            
        }
  </script>
</html>
