<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head.ejs') %>
    <link rel="stylesheet" href="/public/assets/css/prd_detail.css" />
  </head>
  <body>
     <!-- Modal-search -->
     <%- include('../components/search_overlay.ejs') %>

     <!-- Modal-login -->
     <%- include('../components/modal_login.ejs') %>
 
     <!-- Modal-nav-mobile -->
     <%- include('../components/modal_nav-mobile.ejs') %>
 
     <!-- HEADER -->
     <%- include('../components/header.ejs') %>
 
     <!-- ORDER -->
     <%- include('./prd_detail/main.ejs') %>
 
     <!-- FOOTER -->
     <%- include('../components/footer.ejs') %>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="/public/assets/js/form_page.js"></script>
  <script src="/public/assets/js/cart_localStorage.js"></script>
  <script src="/public/assets/js/login.js"></script>
  <script src="/public/assets/js/cart.js"></script>
</html>
